:root {
    --color1: #39eded;
    --color2: #295757;
}

h1 {
    color: white;
}

footer, section {
    padding: 100px 0;
}

header {
    padding: 200px 0;
    background: var(--color2);
    background: -moz-linear-gradient(left,  var(--color2) 0%, var(--color1) 100%);
    background: -webkit-linear-gradient(left,  var(--color2) 0%,var(--color1) 100%);
    background: linear-gradient(to right,  var(--color2) 0%,var(--color1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color2), endColorstr=var(--color1),GradientType=1 ); */
    /* background: var(--color1);
    background: -moz-linear-gradient(top, var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(top, var(--color1)d 0%,var(--color2) 100%);
    background: linear-gradient(to bottom, var(--color1) 0%,var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color2),GradientType=0 ); */
}

/* section {
    background: var(--color2);
    background: -moz-linear-gradient(top, var(--color2) 0%, var(--color1) 100%);
    background: -webkit-linear-gradient(top, var(--color2) 0%,var(--color1) 100%);
    background: linear-gradient(to bottom, var(--color2) 0%,var(--color1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color2), endColorstr=var(--color1),GradientType=0 );
} */


.btn-my-style {
    display: block;
    max-width: 150px;
    margin: 0 auto;
    /* padding: 8px 30px; */
    color: white;
    background-color: var(--color2);
}

.btn-my-style:hover {
    color: #032830;
    background-color: var(--color1);    
}

/* стиль для квадратов Увеличение при наведении на объект*/
.element_square:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* Стиль переворот карточки */
/* .wrapper {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
background-color: #d5d5d5;
display: flex;
justify-content: center;
align-items: center;
} */
.card {
width: 116px;
height: 131px;
position: relative;
perspective: 1000px;
/* border: 1px solid #fff; */
}
.front, .back {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
display: flex;
justify-content: center;
align-items: center;
transition: 1s;
backface-visibility: hidden;
background-color: #fff;
}
.front img {
max-width: 100%;
min-width: 100%;
height: auto;
}
.back {
transform: rotateY(180deg);
}
.card:active .front {
transform: rotateY(180deg);
}
.card:active .back {
transform: rotateY(360deg);
/* -webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1) */
} 




/* Классы цветов */
.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.back-color1 {
    background-color: var(--color1);
}

.back-color2 {
    background-color: var(--color2);
}

/* Изменение шрифта */
span {
    font-size: 17pt;
}
